<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kisphp Assets demo</title>
    <link rel="stylesheet" href="{{ base_url }}/css/external.css" />
    <link rel="stylesheet" href="{{ base_url }}/css/app.css" />
</head>
<body>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-12 row-cols-md-12 slideshow-container">
        {% for item in data.images %}
        <div class="col slideshow-item{% if loop.index != 1 %} invisible{% endif %}" id="img-{{ item.id }}">
          <div class="card shadow-sm">
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
          <img src="{{ base_url }}/images/{{ item.id }}.jpg" alt="{{ item.description | default(item.id) }}" width="100%" height="100%" />

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
              {% if item is not none and item.links|length > 0 %}
                <div class="btn-group">
                    {% if item.links.l %}
                  <button type="button" class="btn btn-sm btn-outline-secondary cta" data-target="{{ item.links.l }}" title="{{ item.links.l }}">&larr;</button>
                    {% endif %}
                    {% if item.links.t %}
                  <button type="button" class="btn btn-sm btn-outline-secondary cta" data-target="{{ item.links.t }}" title="{{ item.links.t }}">&uarr;</button>
                    {% endif %}
                    {% if item.links.b %}
                  <button type="button" class="btn btn-sm btn-outline-secondary cta" data-target="{{ item.links.b }}" title="{{ item.links.b }}">&darr;</button>
                    {% endif %}
                    {% if item.links.r %}
                  <button type="button" class="btn btn-sm btn-outline-secondary cta" data-target="{{ item.links.r }}" title="{{ item.links.r }}">&rarr;</button>
                    {% endif %}
                </div>
              {% endif %}
                <small class="text-muted">{{ item.description | default(item.id) }} [{{ item.id }}]</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

<script src="{{ base_url }}/js/external.js"></script>
<script src="{{ base_url }}/js/app.js"></script>
</body>
</html>
